/*.Counter{

 
}*/
.Controls {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: center;

}
 
.Button{
    margin: 10px;
    background-color: rgb(245, 99, 119);
    
}
.Number{
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
.Button-Add{
    display: flex;
    justify-content: center;
}  